* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;

    
}

/* h1, h2 {
    opacity: 0;
    position: absolute;
    pointer-events: none;
} */

svg {
    width: 100%;
    display: block;
    fill: currentColor;
    overflow: visible;
}

body{
    font-family: "luke-variable", sans-serif;
    font-variation-settings: "LINE" 100, "FILL" 100;
}

.main{
    width: 100%;
    height: 100vh;

    position: relative;
}

.main__container{
    width: 50%;
    height: 50vh;
    background-color: lightgoldenrodyellow;

    position: absolute;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    filter: grayscale(1);

    transition: width   0.5s ease,
                height  0.5s ease,
                filter  0.5s ease;
}

.logo__container{
    width: 40%;
    /* height: 10rem; */
    /* background-color: blue; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 2s ease;

    z-index: 2;
    position: relative;
}

.container__video{
    
    height: 100%; 
    /* background-color: brown; */
    object-fit: cover;
    opacity: 0;

    transition: opacity 1s ease;

    position: absolute;
    
}

.back__link{
    padding: 1rem 2rem;
    background-color: black;
    font-size: 2rem;
    color: white;

    position: absolute;
    inset: auto calc(50%-1rem) calc(50%-1rem) auto;
    z-index: 2;

    transition: font-variation-settings 0.5s ease,
                scale                   0.5s ease;
}

.back__link:hover{
    color: red;
    font-variation-settings: "LINE" 100, "FILL" 90;
    transform: scale(1.5);
}
/* ------------------------ BEP ------------------------- */
.bep{
    background-color: lightgoldenrodyellow;
    inset: 0 auto auto 0;
    transform-origin: top left;
}

/* ------------------------ GTA ------------------------- */
.gta{
    background-color: black;
    inset: 0 0 auto auto;
    transform-origin: top right;    
}

/* ------------------------ AKIRA ------------------------- */
.kaneda{
    background-color: red;
    inset: auto auto 0 0;
    transform-origin: bottom left;
}

/* ------------------------ TAROT ------------------------- */
.tarot{
    background-color: purple;
    inset: auto 0 0 auto;
    transform-origin: bottom right;    
}

/* ------------------------------------------------------------ */

.isBig{
    width: 60% ;
    height: 60vh ;
}
.is40_60{
    width: 40%;
    height: 60vh;
}
.is60_40{
    width: 60%;
    height: 40vh;
}
.isSmall{
    width: 40%;
    height: 40vh;
}

.isClicked{
    width : 100%;
    height : 100vh;

    z-index: 3;
}

.isHidden{
    opacity: 0;
}
.isVisible{
    opacity: 1;
}

/* --------------------------Media Querys--------------------------- */

@media (min-width: 550px){
    .main__container:hover{
        filter: grayscale(0);
    }
}

@media (max-width: 550px){
    .main{
        height: 100svh;
    }
}